* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* Navbar */

.navbar {
  background: #8b0000;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
}

/* Hero */

.hero {
  text-align: center;
  padding: 100px 20px;
  background: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero button {
  padding: 12px 30px;
  border: none;
  background: #ff6b00;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Food Cards */

.food-section {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 60px 20px;
}

.food-card {
  background: white;
  width: 280px;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.food-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.food-card h3 {
  text-align: center;
  padding: 20px;
}

/* Reviews */

.reviews {
  background: white;
  text-align: center;
  padding: 80px 20px;
}

.reviews h2 {
  margin-bottom: 30px;
}

.review-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.review-card {
  width: 250px;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
}

.review-card h4 {
  margin-top: 15px;
}

/* Footer */

.footer {
  background: #8b0000;
  color: white;
  text-align: center;
  padding: 30px;
}