*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

.container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f4f6f9;
}

.card{
  width:350px;
  background:white;
  padding:30px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.profile-img{
  width:150px;
  height:150px;
  object-fit:cover;
  border-radius:50%;
  border:5px solid royalblue;
  margin-bottom:15px;
}

.role{
  color:royalblue;
  margin:10px 0 20px;
}

.info p{
  margin:8px 0;
}

button{
  margin-top:20px;
  padding:12px 25px;
  border:none;
  background:royalblue;
  color:white;
  border-radius:8px;
  cursor:pointer;
}