*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  color: white;
  background: rgb(40, 59, 96);
}
.card{
  background: rgb(50, 144, 194);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 90%;
  margin: 20px;
  border: none;
  border-radius: 1rem;
}
.container{
  display: flex;
  gap: 10px;
  border-radius: 1rem;
  background: rgb(4, 71, 71);
}
.container img{
  border: none;
  border-radius: 1rem;
  width: 250px;
  height: 300px;
}

.container1{
  display: flex;
  gap: 15px;
  border-radius: 1rem;
  background: rgb(3, 46, 73);
}
.container1 img{
  border: none;
  border-radius: 1rem;
  width: 250px;
  height: 300px;
}
button{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6;
  right: 10;
  background: red;
  color: white;
  border-bottom-right-radius: 1rem;
}
button:hover{
  background: white;
  color: red;
  cursor: pointer;
  font-weight: 900;
}
h1{
  font-size: 45px;
  color: black;
}
p{
  font-size: 30px;
  color: white;
  padding-bottom: 10px;
}